
<!doctype html>
<html ng-app='app1' ng-cloak ng-init="person = {fName: 'Derek', lName: 'Banas'}; capitals = [{city: 'Montgomery', state: 'Alabama'}, {city: 'Juneau', state: 'Alaska'}, {city: 'Pheonix', state: 'Arizona'}]">
	<head>
	    <title>AngularJS Tutorial</title>	
	    <style>
	    [ng\:cloak], [ng-cloak], .ng-cloak {
	    	display: none;
	    }
	    </style>
	</head>
	<body>
		<div ng-controller='ctrl1'>
			<span>Values:</span>
			<input type='text' ng-model='first' />
			<input type='text' ng-model='second' />

			<button ng-click='updateValue()'>Sum</button>
			<br><br>

			{{calculation}}
		</div>

		<div ng-controller='Names'>
			<h3>Work for {{names}} today.</h3>
		</div>

		<!-- Load the AngularJS library -->
	    <script 
	    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	    <!-- Load the JS Module -->
	    <script src="js/exam1.js"></script>
	</body>
</html>
